.main-menu{
    padding: 0 20px;
}
.logo{
    width: 100px;
    z-index: 3;
}
.nav-list{
    list-style: none;
    margin-top: 25px;
}
.nav-bar{
    background-color: #3b3b3b69;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: scaleX(0);
    transition: .5s;
    position: fixed;
    text-align: center;
    display: grid;
    place-content: center;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
}
.navigation-btn{
    font-weight: bolder;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    background: none;
    z-index: 3;
}
.open-nav-bar{
    transform: scaleX(1);
}
.menu-activation-btn{
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
    cursor: pointer;
}
.active-btn>.menu-btn-bar{
    background-color: #fff;
}
.active-btn>#bar1{
    transform: rotate(45deg)translateY(-1px);    
}
.active-btn>#bar2{
    transform: scaleX(0);
}
.active-btn>#bar3{
    transform: rotate(-45deg);
}
.menu-btn-bar{
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform-origin: left;
    transition: .5s;
}